table {
    width: 100%;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 7px;
    margin-left: 4px;
    min-width: 60px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 250px;
  }
  
  .example-button-row .mat-button-base {
    margin: 4px 4px 4px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 60px;
  }