<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #1B74F0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1B74F0;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>



<div>
  <form [formGroup]="postend" (ngSubmit)="postEndpointC()">
    <label for="fname">Path</label>
    <input type="text" id="path" name="path" placeholder="Your path.." formControlName="path">

    <label for="lname">Method</label>
    <input type="text" id="method" name="method" placeholder="Your method.." formControlName="method">
    <label for="country">Status code</label>
    <input type="text" id="status_code" name="status_code" placeholder="status code.." formControlName="status_code">
    <label for="country">Response Json</label>
    <input type="text" id="response_json" name="response_json" placeholder="response json.." formControlName="response_json">
    
  
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>



