

                <div class="wrapper">
                  <div class="container">
                    <img src="assets/images/sofia.PNG" alt="" class="profile-img">
                    
                    <div class="content">
                      <div class="sub-content" >
                        <h1>{{users.username}}</h1>
                        <p>{{users.email}}</p>
                        <span>Created At :{{users.createdAt}}</span><br>
                        <span>Updated At :{{users.updatedAt}}</span>
                        <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Tunis</span>
                        <a href="https://sofia-technologies.com/?lang=fr">sofia-technologies.com</a>
                      </div>
                      <div class="data">
                       
                      </div>
                      <div class="btn">update</div>
                    </div>
                  </div>
                </div>
